{% extends 'base.html.twig' %}
{% block title %}{{ controller_name }} !{% endblock %}
{% block body %}
<div class="uk-section">
    <div class="uk-container uk-container-small">
        <h1>Hello {{ controller_name }}! ✅</h1>
    </div>
</div>
{% endblock %}
