<h2>Uh, is the puppy mechanical in any way?</h2>
<p>There's no part of that sentence I didn't like! Interesting. No, wait, the other thing: tedious. She also liked to shut up! You wouldn't. Ask anyway! Or a guy who burns down a bar for the insurance money!</p>
<p>Too much work. Let's burn it and say we dumped it in the sewer. It's okay, Bender. I like cooking too. Fatal. <strong> It's toe-tappingly tragic!</strong> <em> Tell her she looks thin.</em> Shut up and take my money!</p>
<h2>Bender, quit destroying the universe!</h2>
<p>Spare me your space age technobabble, Attila the Hun! Fetal stemcells, aren't those controversial? Ummm…to eBay? Fatal. That's a popular name today. Little "e", big "B"? Yes, except the Dave Matthews Band doesn't rock.</p>
<ol>

    <li>Our love isn't any different from yours, except it's hotter, because I'm involved.</li><li>I'm Santa Claus!</li><li>Pansy.</li>

</ol>

<h3>What are their names?</h3>
<p>WINDMILLS DO NOT WORK THAT WAY! GOOD NIGHT! For one beautiful night I knew what it was like to be a grandmother. Subjugated, yet honored. Or a guy who burns down a bar for the insurance money! No argument here.</p>
<ul>

    <li>Okay, it's 500 dollars, you have no choice of carrier, the battery can't hold the charge and the reception isn't very…</li><li>I am Singing Wind, Chief of the Martians.</li><li>You know, I was God once.</li>

</ul>

<p>Then throw her in the laundry room, which will hereafter be referred to as "the brig". Oh sure! Blame the wizards! I had more, but you go ahead. For example, if you killed your grandfather, you'd cease to exist!</p>
<p>Leela's gonna kill me. Guards! Bring me the forms I need to fill out to have her taken away! OK, if everyone's finished being stupid. Kif, I have mated with a woman. Inform the men. We can't compete with Mom! Her company is big and evil! Ours is small and neutral!</p>
<p>I decline the title of Iron Cook and accept the lesser title of Zinc Saucier, which I just made up. Uhh… also, comes with double prize money. Is today's hectic lifestyle making you tense and impatient?</p>
<p>I'm just glad my fat, ugly mama isn't alive to see this day. Throw her in the brig. Okay, I like a challenge. No! The cat shelter's on to me. You can see how I lived before I met you.</p>
<p>Now that the, uh, garbage ball is in space, Doctor, perhaps you can help me with my sexual inhibitions? You wouldn't. Ask anyway! But I know you in the future. I cleaned your poop. Wow! A superpowers drug you can just rub onto your skin? You'd think it would be something you'd have to freebase.</p>
<p>Who are those horrible orange men? I daresay that Fry has discovered the smelliest object in the known universe! It must be wonderful. I just told you! You've killed me!</p>
<p>I decline the title of Iron Cook and accept the lesser title of Zinc Saucier, which I just made up. Uhh… also, comes with double prize money. Hey, what kinda party is this? There's no booze and only one hooker.</p>
<p>Oh, all right, I am. But if anything happens to me, tell them I died robbing some old man. Kids don't turn rotten just from watching TV. Does anybody else feel jealous and aroused and worried? No. We're on the top.</p>
<p>These old Doomsday Devices are dangerously unstable. I'll rest easier not knowing where they are. As an interesting side note, as a head without a body, I envy the dead. Goodbye, cruel world. Goodbye, cruel lamp. Goodbye, cruel velvet drapes, lined with what would appear to be some sort of cruel muslin and the cute little pom-pom curtain pull cords. Cruel though they may be…</p>
<p>I just told you! You've killed me! Daylight and everything. And from now on you're all named Bender Jr. Well, thanks to the Internet, I'm now bored with sex. Is there a place on the web that panders to my lust for violence?</p>
<p>Now what? You wouldn't. Ask anyway! Oh, but you can. But you may have to metaphorically make a deal with the devil. And by "devil", I mean Robot Devil. And by "metaphorically", I mean get your coat. Why am I sticky and naked? Did I miss something fun?</p>