<h1>So, how 'bout them Knicks?</h1>
<p>Yes, if you make it look like an electrical fire. When you do things right, people won't be sure you've done anything at all. Kids have names? Anyone who laughs is a communist! Look, last night was a mistake.</p>
<p><strong>Michelle, I don't regret this, but I both rue and lament it.</strong> <em> You won't have time for sleeping, soldier, not with all the bed making you'll be doing.</em> With a warning label this big, you know they gotta be fun!</p>
<h2>Perhaps, but perhaps your civilization is merely the sewer of an even greater society above you!</h2>
<p>And why did 'I' have to take a cab? This opera's as lousy as it is brilliant! Your lyrics lack subtlety. You can't just have your characters announce how they feel. That makes me feel angry! That could be 'my' beautiful soul sitting naked on a couch. If I could just learn to play this stupid thing.</p>
<ol>

    <li>We're rescuing ya.</li><li>You guys realize you live in a sewer, right?</li><li>All I want is to be a monkey of moderate intelligence who wears a suit… that's why I'm transferring to business school!</li>

</ol>

<h3>It doesn't look so shiny to me.</h3>
<p>Morbo can't understand his teleprompter because he forgot how you say that letter that's shaped like a man wearing a hat. No, I'm Santa Claus! Guess again. Oh, I don't have time for this. I have to go and buy a single piece of fruit with a coupon and then return it, making people wait behind me while I complain.</p>
<ul>

    <li>Say it in Russian!</li><li>That could be 'my' beautiful soul sitting naked on a couch. If I could just learn to play this stupid thing.</li><li>You can see how I lived before I met you.</li>

</ul>

<p>Oh dear! She's stuck in an infinite loop, and he's an idiot! Well, that's love for you. Oh sure! Blame the wizards! Throw her in the brig. Leela's gonna kill me. I love you, buddy!</p>
<p>I can explain. It's very valuable. What are their names? Dr. Zoidberg, that doesn't make sense. But, okay! You lived before you met me?! Throw her in the brig. We're also Santa Claus!</p>
<p>No. We're on the top. How much did you make me? They're like sex, except I'm having them! Bender, I didn't know you liked cooking. That's so cute.</p>
<p>Hey, tell me something. You've got all this money. How come you always dress like you're doing your laundry? Ugh, it's filthy! Why not create a National Endowment for Strip Clubs while we're at it? You can see how I lived before I met you.</p>
<p>Switzerland is small and neutral! We are more like Germany, ambitious and misunderstood! Who's brave enough to fly into something we all keep calling a death sphere? I'm sure those windmills will keep them cool.</p>
<p>Shut up and take my money! Eeeee! Now say "nuclear wessels"! A true inspiration for the children. But I've never been to the moon! What are their names?</p>
<p>I could if you hadn't turned on the light and shut off my stereo. Also Zoidberg. Why did you bring us here? Five hours? Aw, man! Couldn't you just get me the death penalty? Who's brave enough to fly into something we all keep calling a death sphere?</p>
<p>Yeah, lots of people did. I'm just glad my fat, ugly mama isn't alive to see this day. I am Singing Wind, Chief of the Martians. I've been there. My folks were always on me to groom myself and wear underpants. What am I, the pope?</p>
<p>Say what? Good man. Nixon's pro-war and pro-family. Oh, I don't have time for this. I have to go and buy a single piece of fruit with a coupon and then return it, making people wait behind me while I complain.</p>
<p>You'll have all the Slurm you can drink when you're partying with Slurms McKenzie! Doomsday device? Ah, now the ball's in Farnsworth's court! You're going back for the Countess, aren't you? Leela, are you alright? You got wanged on the head.</p>
<p>It doesn't look so shiny to me. Shut up and take my money! Quite possible. We live long and are celebrated poopers. Hi, I'm a naughty nurse, and I really need someone to talk to. $9.95 a minute. Oh Leela! You're the only person I could turn to; you're the only person who ever loved me.</p>